doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700' rel='stylesheet')
  link(rel='stylesheet' href='css/style.css')
  link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  title  Loanlists | ListOf Loanlists
header.header
  nav.nav.nav--courses
    a.nav__el(href='/loanList.html') All loanlists
    form.nav__search
      button.nav__search-btn
        svg
          use(xlink:href='img/icons.svg#icon-search')
      input.nav__search-input(type='text' placeholder='Search Loans')
  .header__logo
    img(src='img/users/user.png' alt='Loan logo')
  nav.nav.nav--user
    a.nav__el(href='#') My Loans
    button.nav__el Log out
    a.nav__el(href='#')
      img.nav__user-img(src='img/users/user.png' alt='User photo')
      span Student
h3.heading-primary
  span List Of Loans
div
  table.table-header
    thead
      tr
        th(scope='col') Name
        th(scope='col') Type of Loan
        th(scope='col') Phone Number
        th(scope='col') Amount
        th(scope='col') Interest Rate (%)
        th(scope='col') Term (Yrs)
    tbody
      each loan in loans
        tr.table-secondary
          td=loan.customerName
          td=loan.loanType
          td=loan.phoneNumber
          td=loan.loanAmount
          td=loan.interest
          td=loan.loanTermYears
.footer
  .footer__logo
    img(src='img/users/user.png' alt='Loan logo')
  ul.footer__nav
    li
      a(href='#') About us
    li
      a(href='#') Download Loan information
    li
      a(href='#') Careers
    li
      a(href='#') Contact
      
  p.footer__copyright &copy; by Loan Providers.